---
---

@import "{{ site.theme }}";

.main-content {
  max-width: 1400px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4 {
  color: #606060;
}

.main-content .btn {
  color: #606060 !important;           /* Force le gris des titres */
  border: 1px solid #606060 !important; /* Force la bordure grise */
  background: none !important;          /* Enlève tout fond par défaut */
}

.main-content .btn:hover {
  color: #ffffff !important;            /* Texte blanc au survol */
  background-color: #606060 !important;  /* Fond gris au survol */
}

// Style spécifique pour la barre d'outils Markmap
.mm-toolbar {
  display: flex;
  background: #ffffff !important;
  border: 1px solid #d1d5db !important;
  border-radius: 0.5rem !important;
  padding: 0.25rem !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;

  .mm-toolbar-brand {
    display: none; // Cache le logo Markmap pour épurer comme sur ta capture
  }

  svg {
    fill: #606060 !important; // Couleur assortie à tes titres
    width: 1.5rem;
    height: 1.5rem;
  }
}